body {
	background-color: #f5f5dc;
	font-family: Arial, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 90vh;
	margin: 0;
	padding: 0;
}

.title {
	text-align: center;
	font-weight: bold;
	font-size: 32px;
}
.career {
	text-align: center;
	font-weight: bold;
	font-size: 24px;
}

.links {
	text-align: center;
	margin-top: 40px;
}

.links a {
	display: inline-block;
	margin: 10px;
	padding: 10px 20px;
	font-weight: bold;
	text-decoration: none;
	border: 2px solid #000;
	border-radius: 4px;
	background-color: #f5f5f5;
	color: #000;
	transition: background-color 0.3s ease;
}

.links a:hover {
	background-color: #000;
	color: #fff;
}
.contact {
	text-align: center;
	font-size: 20px;
	margin-bottom: 20px;
}
